/* Style for the whole page container */
.CouchPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-family: sans-serif;
    
  }
  
  /* Style for the navigation bar */
  .CouchPage-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #2e7d32;
  }
  
  /* Style for the page title */
  .CouchPage-nav h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
  }
  
  /* Style for the buttons container */
  .CouchPage-div-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  /* Style for the buttons */
  .CouchPage-button {
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  /* Style for the hover effect on the buttons */
  .CouchPage-button:hover {
    background-color: #2e7d32;
  }
  