/* TrainerHome */
.TrainerHome{
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
  background: linear-gradient(to bottom, #C8BBA3, #BAA082, #8F664E, #703B1E);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 5em;
  
}
.TrainerHome-nav{
  background-color: #AF5F30;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  width: 100%;
  border-radius: 20em;
}
.TrainerHome-h2{
  background-color: #AF5F30;
  width: 80%;
  border-radius: 20em;

}

.TrainerHome-links{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 20vh;
  gap: 4em;
}
.Link a{
  color: #C8BBA3;
  text-decoration: none;
  cursor: pointer;
}
.Link a:hover{
  color: #373A3A;
  text-decoration: none;
  cursor: pointer;
}
.Link{
  background-color: #AF5F30;
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5em;
  font-size: xx-large;
  color: #C8BBA3;
}
.TrainerHome-Description{
  width: 80%;
  height: 50%;
  padding-top: 3em;
  background-color:#AF5F30;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: start;
  gap: 2em;
  font-size: 1em;
  font-weight: bold;
  border-radius: 20em;
  
}
.TrainerHome-Description h2{
  margin: 0;
}
.TrainerHome-Description h3{
  max-inline-size: 70rem;
  line-height: 150%;
  
}

.TrainerHome-button{
  background-color: #373A3A;
  color: #DAD9D4;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 2px 2px #AF5F30;
  width: 10%;
  height: 5%;
  text-align: center;
  position: absolute;
  right: 1em;
  font-size: x-large;
}
.TrainerHome-button:hover {
  background-color: #AF5F30;
  color: #DAD9D4;
  box-shadow: 4px 4px #373A3A;
}