.Program-details-container {
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  background: linear-gradient(to bottom, #c8bba3, #baa082, #8f664e, #703b1e);
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 5em;
 
}

.Program-details-nav {
  background-color: #af5f30;
  width: 100%;
  border-radius: 20rem;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Program-details-header {
  font-size: 3rem;
  font-weight: bold;
}
.Program-details-description {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Program-details-buttons-description {
  width: 80%;
  height: 25%;
  background-color: #373a3a;
  font-size: 2rem;
  font-weight: bold;
  background-color: #373a3a;
  border-radius: 20rem;
}
.Days-list {
  display: flex;
  justify-content: center;
  gap: 1em;
}
.Program-details-button {
  background-color: #af5f30;
  width: 10%;
  height: 3rem;
  border-radius: 20rem;
  cursor: pointer;
}
.Program-details-button1 {
  position: absolute;
  top: 3rem;
  left: 4rem;
  background-color: #c8bba3;
  border-radius: 20rem;
  width: 10%;
  font-size: 2rem;
}
.Program-details-button1:hover {
  color: #af5f30;
}
/* Day Forms */
.Day-program {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: #373a3a;
  width: 70%;
  border-radius: 10rem;

}
.Day-title-div {
  margin-top: 1rem;
  background-color: #c8bba3;
  width: 70%;
  height: 20%;
  border-radius: 20rem;
}
.Day-title {
    color: #373a3a;
    font-size: xx-large;
}
.Exercise-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  
}
.Exercise-item {
  background-color: #c8bba3;
  width: 60%;
  border-radius: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.Exercise-title{
    font-size: 1.5rem;
    font-weight: bold;
}
.Exercise-description{
    font-size: 1.3rem;
    font-weight: bold;
}
.Exercise-item h1,
.Exercise-item h4,
.Exercise-item p {
  font-weight: bold;
  color: #292b2e;
}
.Exercise-button {
    background-color: #af5f30;
    width: 30%;
    height: 3rem;
    border-radius: 20rem;
    cursor: pointer;
    font-size: 1.5rem;
}
.Exercise-button.completed {
    background-color: #6B8E23;
    color: white;
    border: none;
  }
 
  