.ShowProducts {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(to bottom right, #292B2E, #373A3A);
display: flex;
flex-direction: column;
align-items: center;
gap: 1em;
}

.ShowProducts-nav {
  background-color: #AF5F30;
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ShowProducts-nav h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #DAD9D4;
}

.ShowProducts-programList {
  background-color: #C8BBA3;
  border-radius: 8em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;

}
.ShowProducts-programList1{
  background-color: #373A3A;
  width: 100%;
  border-radius: 10em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.ShowProducts-programList1 h3 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #C8BBA3
}

.ShowProducts-programList1 p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #C8BBA3
}

.ShowProducts-button {
  background-color: #AF5F30;
  border: none;
  border-radius: 5em;
  color: #DAD9D4;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.ShowProducts-button:hover,.ShowProducts-button1:hover {
  background: linear-gradient(to bottom right, #AF5F30, #E5B797, #C8BBA3);
  color: #373A3A;
}
.ShowProducts-button1{
  position: absolute;
  top: 5%;
  left: 1em;
  width: 8%;
  height: 5%;
  background-color: #292B2E;
  border: none;
  border-radius: 5em;
  color: #DAD9D4;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #292B2E;
  color: #DAD9D4;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 2px 2px #AF5F30;
  text-align: center;
}

.popup-content p {
  margin: 0;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.popup-content button {
  background-color: #373A3A;
  color: #DAD9D4;
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 2px 2px #AF5F30;
}

.popup-content button:hover {
  background-color: #AF5F30;
  color: #DAD9D4;
  box-shadow: 4px 4px #373A3A;
}

.popup-content button:last-of-type {
  margin-right: 0;
}